<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  
    <h1 style="text-align:center">Our Story</h1>
    <div class="container">
        <p style="text-align:justify;margin-left:130px;margin-right:130px;font-size: 14px;">We believe in good We launched Fresh Pan
          Pizza Best Excuse Awards on our Facebook fan page. Fans were given stuations where they had to come up
          wall wacky and fun excuses. The person wall the hest excuse won the Best Excuse Badge and won Pizzeria's
          vouchers. Their enthusiastic response proved 
          that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza Ever!<br><br>
          Ever since we launched the Tastiest Pan Pizza, each people have not been able to resist the softest,
          cheesiest, crunchiest butters. Dominds Fresh Pan 
          Pizza They have been leaving the stage in the middle of a performance and even finding excuses to be
          disqualified Ina football match.<br><br>
          We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given squations 
          where they had to come up with wacky and fun
          excuses. The person wall the best excuse won the Best Excuse Badge and won Domino's vouchers. Their 
          enthusiashe response proved that Pizzeria's Fresh 
          Pan Pizza s the Tastiest Pan Pizza Ever!
        </p>
        <div class="row">
            <div class="col-md-6">
              <img src="../assets/pizza11.jpg" style="margin-left: 130px;">
            </div>
        <div class="col-md-6">
            <h1 >Ingredients</h1><br>
            <p style="text-align:justify;margin-right:130px;font-size: 14px;">We're ruthless about goodness.
               We have no qualms about tearing up a day-old letuce leaf(straight from the farm), or steaming 
               a baby (carrot) Cut.Cut.Chop.Chop.Steam.Steam.Stir.Stir. While they're still young and fresh 
               that's our motto.It makes the kitchen a better place.
            </p>
        </div>
    
        <div class="row">
            <div class="col-md-6" style="text-align: justify;margin-left:140px;font-size: 14px;margin-top: 50px;">
              <h1>Our chefs</h1>
              <p>They make sauces sing and salads dance They create magic wall skill,<br> knowledge, passion,
                and shrring spoons (among other things) They<br> make goodness so good, rt doesn't know what
                 to do wall Ss. We do though.We send it to you
              </p>
            </div>
            <div class="col">
                <img src="../assets/pizzachef.jpg" style=" width: 300px;height: 300px;">
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="../assets/pizza3.jpg" style="text-align: justify;margin-left:140px;font-size: 14px;">
          </div>
          <div class="col-md-6">
            <h2 style="margin-left: 110px;margin-top: 120px;">45 min delivery</h2>
          </div>
        </div>
  
        </div>
    </div>
    <footer style=" margin-top:2%;color: orange;text-align: center;">Copyrights @2017 Pizzeria. All rights reserved</footer>